.div{
    position: relative;
    width:auto;
    background: url(../imgs/section.jpg);
    background-size:100% ;
    /* padding: 60px 0 !important; */
    /* display: none; */
    height: 120px;

}
.divBac{
    position: relative;
    width:auto;
    /* background: rgba(41, 33, 33, 0.95); */
    background: rgba(33, 37, 41, 0.95);
    background-size:100% ;
    display: 0.1;
    height: 120px; 
   
}